*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

:root{
    --bg-color: #111111;
    --second-bg-color: #151515;
    --text-color: white;
    --main-color: #04fffb;
}

html{
    font-size: 62.5%;
    color:var(--text-color);
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3rem 9%;
    background:rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    justify-content: space-between;
    display: flex;
    align-items: center;
    z-index: 100;
}